body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ff6447;
}

.boxes {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  background-color: #f6deb3;
}

.box__small {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  background-color: #008080;
}

.box__long {
  width: 200px;
  border-style: dashed;
}
