@import "./reset.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  background-color: #00c6ac;
}

.wrapper {
  width: 370px;
  padding: 60px 25px;
  box-sizing: border-box;
  background-color: white;
}

.header {
  position: relative;
}

.header i {
  position: absolute;
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

.main {
  margin-top: 50px;
}

.play {
  display: flex;
  gap: 15px;
  align-items: center;
}

.play > .image {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #ffbc13;
}

.play > .image > i {
  font-size: 50px;
  color: white;
}

.play .main-song {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  height: 100%;
}

.play .title {
  font-size: 40px;
  font-weight: 700;
}

.play .singer {
  font-size: 18px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.play-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: white;
}

.play-btn i {
  font-size: 18px;
}

.play-btn p {
  font-size: 20px;
  font-weight: bolder;
}

.heart-btn,
.plus-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: white;
}

.heart-btn i,
.plus-btn i {
  font-size: 18px;
}

.song {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.song .song-img {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border: 2px solid black;
}

.song .song-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-title {
  font-size: 22px;
  font-weight: bolder;
}

.song-singer {
}

.song:first-child .song-img {
  background-color: #f85a2a;
}

.song:nth-child(2) .song-img {
  background-color: #ff89bb;
}

.song:nth-child(3) .song-img {
  background-color: #1847e5;
}

.song:last-child .song-img {
  background-color: #00c6ac;
}

.song:last-child {
  margin-bottom: 0;
}
