@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Baloo Tamma 2", cursive;
  background-color: #00c6ac;
}

.wrapper {
  width: 380px;
  padding: 50px 25px;
  background-color: #fff;
}

header {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 40px;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
}

.main-song {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-somg__img {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #febd18;
}

.main-somg__img i {
  color: white;
}

.main-song__des {
  width: 52%;
}

.main-song__title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
}

.main-song__author {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.7;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0px;
}

.btns__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-bottom-width: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.btns__btn--big {
  width: 50%;
  font-weight: 600;
  border-radius: 10px;
}

.btns__btn--big span {
  margin-left: 10px;
  font-size: 22px;
}

.play-list {
  display: flex;
  flex-direction: column;
}

.play-list__song {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.play-list__song:first-child {
  margin-top: 0;
}

.play-list__cover {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 10px;
  border: 2px solid black;
}

.play-list__song:first-child .play-list__cover {
  background-color: #f85a2a;
}
.play-list__song:nth-child(2) .play-list__cover {
  background-color: #ff89bb;
}
.play-list__song:nth-child(3) .play-list__cover {
  background-color: #1847e5;
}
.play-list__song:last-child .play-list__cover {
  background-color: #00c6ac;
}
.play-list__title h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 7px;
}
.play-list__title p {
  font-size: 18px;
  opacity: 0.8;
}
