html,
body {
  height: 100%;
}

@keyframes dotAnimation {
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(0.5turn);
  }
}

@keyframes lineAnimation {
  0% {
    transform: none;
  }
  25% {
    transform: scaleY(2);
  }
  50%,
  100% {
    transform: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #76c4c6;
}

.box {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.dots {
  animation: dotAnimation 1s ease-in-out infinite;
  margin-bottom: 200px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.lines {
  width: 150px;
}

.line {
  width: 20px;
  height: 80px;
  background-color: white;
  animation: lineAnimation 1s ease-in-out infinite;
}

.line:nth-child(2) {
  animation-delay: 0.1s;
}
.line:nth-child(3) {
  animation-delay: 0.2s;
}
.line:nth-child(4) {
  animation-delay: 0.3s;
}
.line:nth-child(5) {
  animation-delay: 0.4s;
}
